/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark gray text */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #2c3e50; /* Dark blue background */
    color: #fff; /* White text */
    padding: 10px 0;
    border-bottom: 4px solid #3498db; /* Blue border */
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff; /* White text */
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.company-name {
    font-weight: bold;
    font-size: 1.2rem;
    color: #2ecc71; /* Green text */
}

nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #fff; /* White text */
    padding: 10px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #3498db; /* Light blue background on hover */
}

.main {
    padding: 20px;
}

.rent-form {
    background-color: #fff; /* White background */
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.rent-form h2 {
    background-color: #3498db; /* Blue background for headings */
    color: #fff; /* White text */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.rent-form h3 {
    background-color: #2ecc71; /* Green background for subheadings */
    color: #fff; /* White text */
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 3px;
}

.rent-form p {
    margin-bottom: 15px;
}

.rent-form .form-left {
    flex: 1;
}

.rent-form .form-right {
    flex: 1;
    padding-left: 20px;
}

.rent-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.rent-form input[type="text"],
.rent-form input[type="tel"],
.rent-form input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.rent-form .submit-btn {
    background-color: #3498db; /* Blue background */
    color: #fff; /* White text */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.rent-form .submit-btn:hover {
    background-color: #2c3e50; /* Dark blue background on hover */
}

.rent-form p.form-info {
    color: #2ecc71; /* Green text for additional text below submit button */
    margin-top: 10px;
}

footer {
    background-color: #34495e; /* Darker blue background for footer */
    color: #fff; /* White text */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 5px;
}

footer a {
    color: #2ecc71; /* Green text for links in footer */
}
